<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suusoft.locoindia">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!--
    You need to request only the ACCESS_FINE_LOCATION permission, because it includes permission
    for both providers. Permission for ACCESS_COARSE_LOCATION allows access only to NETWORK_PROVIDER.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.location.network" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:name="com.suusoft.locoindia.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library android:name="org.apache.http.legacy" android:required="false" />
        <activity
            android:name="com.suusoft.locoindia.view.activities.SplashActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.suusoft.locoindia.view.activities.SplashLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.White"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.suusoft.locoindia.view.activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.White"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.suusoft.locoindia.view.activities.SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.White"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.suusoft.locoindia.view.activities.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.suusoft.locoindia.view.activities.TransportActivity"
            android:label="@string/deal_transport"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.suusoft.locoindia.view.activities.TripManagerActivity"
            android:label="@string/trip_manager"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.suusoft.locoindia.view.activities.TripTrackingActivity"
            android:label="@string/trip_tracking"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.suusoft.locoindia.view.activities.TripFinishingActivity"
            android:label="@string/trip_finishing"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.suusoft.locoindia.view.activities.ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
         <activity
            android:name="com.suusoft.locoindia.view.activities.ChatActivityBySuusoft"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.suusoft.locoindia.view.activities.RecentChatsActivity"
            android:label="@string/recent_chat"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.suusoft.locoindia.quickblox.conversation.CallActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.suusoft.locoindia.view.activities.ViewReviewsActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoActionBar" />
        <activity
            android:name="com.suusoft.locoindia.view.activities.BuyCreditsActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoActionBar" />
        <activity
            android:name="com.suusoft.locoindia.view.activities.RedeemActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoActionBar" />
        <activity
            android:name="com.suusoft.locoindia.view.activities.TransferActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoActionBar"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name="com.suusoft.locoindia.view.activities.ChangePassWordActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoActionBar" />
        <activity
            android:name="com.suusoft.locoindia.view.activities.PassengerViewDriverActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.suusoft.locoindia.view.activities.BecomeAProActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoActionBar" />
        <activity
            android:name="com.suusoft.locoindia.view.activities.FindUsOnMapActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoActionBar" />
        <activity
            android:name="com.suusoft.locoindia.view.activities.HistoryActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoActionBar" />

        <activity
            android:name="com.suusoft.locoindia.view.activities.GuideActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoActionBar" />
        <activity
            android:name="com.suusoft.locoindia.view.activities.WebViewActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoActionBar" />
        <activity
            android:name="com.suusoft.locoindia.view.activities.PhoneCountryListActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoActionBar" />
        <!-- Google map -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/own_google_api_key" />

        <service
            android:name="com.suusoft.locoindia.utils.map.FetchAddressIntentService"
            android:exported="false" />

        <service
            android:name="com.suusoft.locoindia.utils.map.LocationService"
            android:exported="false" />
        <service
            android:name="com.suusoft.locoindia.utils.map.LocationService1"
            android:exported="false" />
        <!-- End of google map -->

        <!-- [START firebase_service] -->
        <service android:name="com.suusoft.locoindia.fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.suusoft.locoindia.fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <!--<action android:name="com.google.firebase.INSTANCE_ID_EVENT" />-->
            </intent-filter>
        </service>
        <!-- [END firebase_iid_service] -->

        <!-- Start of Quickblox notification -->
        <meta-data
            android:name="com.quickblox.messages.TYPE"
            android:value="FCM" />
        <meta-data
            android:name="com.quickblox.messages.SENDER_ID"
            android:value="@string/sender_id" />
        <meta-data
            android:name="com.quickblox.messages.QB_ENVIRONMENT"
            android:value="DEVELOPMENT" />

        <service android:name="com.suusoft.locoindia.quickblox.conversation.services.CallService" />
        <!-- End of Quickblox notification -->


        <!-- Start of Facebook -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!--payment stripe-->
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
        <!--judo pay-->

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <!-- Enable Chrome Custom Tabs -->
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <!-- End of facebook -->
    </application>

</manifest>